.holder {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;   /* centers horizontally */
    align-items: center;       /* centers vertically */
}

.item-1 {
    width: 100px;
    height: 100px;
    background-color: red;
}
